.app {
  display: flex;
  flex-direction: row;
  /* flex: wrap; */

  gap: 10px;
  height: 100%;

  margin: 0 auto;
}

.joke {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* flex-wrap: wrap; */

  margin: 200px 0;
  max-width: 400px;
  box-shadow: 2px 1px 1px rgba(0, 0, 0, 0.5);
}
